.log{
padding:10px;
overflow:auto;
}

input[type=text], input[type=password],
input[type=email]
{
width:60%;
font-size:18px;
padding:10px;
margin:5px 0 22px 0;
border:none;
border-radius:6px;
background:white;
}
select[type=number]
{
width:10%;
font-size:18px;
padding:10px;
margin:5px 0 22px 0;
border:none;
border-radius:6px;
background:white;
}
input[type=tel]{
width:45%;
font-size:18px;
padding:10px;
margin:5px 0 22px 0;
border:none;
border-radius:6px;
background:white;
}
input[type=text]:focus, input[type=password]:focus{
background-color:white;
font-size;20px;
}
hr{
border:1px solid black;
margin-bottom:30px;
}

#button{
background-color:white;
color:black;
font-size: 15px;
font-weight:bold;
cursor:pointer;
margin-bottom:30px;
margin-top:20px;
width:30%;
padding:10px;
border-radius:6px;
}

#button:hover{
opacity:1;
}

h1{
text-align:center;
font-weight:bold;
color:Orange;
font-size:40px;
font-family:Rockwell;
line-height:40px;
}
